@use 'sass:math';

    $global:red;
    @if($global == red){
        $global:black;
    }

    .color{
        color:$global;
    }

    //operadores not, and, or

    $variable:'';
    @debug not variable; // false
    @debug true and false;//false
    @debug true and true;//true
    @debug true or false;//true

    @mixin elegirColor($numero, $primary){
        @if($numero == 1 and $primary){
            color:crimson;
        }
        @else if($numero == 2 or $primary){
            color:steelblue;
        }
        @else if(not $primary){
            color: teal;
        }
        @else{
            color: black;
        }
    }
    .main{
        @include elegirColor(3, true);
    }

    /* @mixin crearLayout($display, $columnas){

        @if($display == grid){
            display: grid;
            grid-template-columns: repeat($columnas, 1fr);
        }
    
        @else if($display == block){
            display: block;
        }
    
        @else{
            display: flex;
            $tamanoColumnas: math.div(100%, $columnas);
    
            & > *{
                width: $tamanoColumnas;
            }
        } */
