// $lista: 1 2 3 4 5;
// $margenes: 1 2 3 4 5;

// @each $dinamica in $lista{
//     .elemento#{$dinamica}{
//         color:#000;
//     }
// }

// // @each $variable in $lista

// @each $margen in $margenes{
//     .m-#{$margen}{
//         margin: $margen*1em;
//     }
// }

$mapa:(
    "primary": crimson,
    "secondary": steelblue,
    "shadow": 1px 1px solid #000
);

$lista:
"card" color 3s,
"nav" clip-path 2s,
"footer" margin 1s;

@each $selector, $propiedad, $duracion in $lista{
    .#{$selector}{
        transition-property: $propiedad;
        transition-duration: $duracion;
    }
}