//se deben utilizar para definir operaciones y que se puedan reutilizar en toda la pág
@use 'sass:math';
//valor opcional siempre después de los obligatorios o referenciar los obligatorios con el nombre exacto
@function pixelesToEm($pixeles, $font-size:16px){
    $unidad: math.div($pixeles, 1px);//eliminar la unidad
    
    $current-font: math.div($font-size, 1px);
    $resultado: math.div($unidad, $current-font);
    //siempre deben retornar un valor

    @return $resultado * 1 em;
}


.title{
    $font-size:32px;
    font-size: pixelesToEm(40px, 26px);
}