@use 'modulos/modulo' as funcionalidades;
@use 'modulos/colores' as c;
@use 'sass:map';

$textos:(
    'titulo':4em,
    'subtitulo': 1em,
    'parrafo': 1em,
    'cta': 1.5em
);

$estilosGenerales: map.merge($textos, funcionalidades.$colores);

//para llamar mixin se necesita el include
@include funcionalidades.recorrerMap($estilosGenerales);

body{
    color: c.$primary;
}